[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Optional"]
	path = Optional
	url = https://github.com/akrzemi1/Optional.git
[submodule "optional"]
	path = optional
	url = https://github.com/TartanLlama/optional.git
